<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <form><h2>{{user}}</h2>
    Users messages:<br>
    {% for message in messages %}
    <div> {{message}} <br>;
    {% endfor %}
    </div>
    </form>
    <form>
        Your answers:<br>
        {% for answer in answer_message%}
            <div><b>{{answer}}</b><br>
        {%endfor%}
        </div>
    <form action="{{ url_for('dialoge', user)}}" method=post>
        <dl>
            <dt>Your answer:
                <dd><input type=text name=name>
            </dd>
        </dt>
    </form>
</body>
</html>